<nav>
    <a href="/">Home</a>
    <a href="/posts/">Blog</a>
    <a href="/talks/">Talks</a>
    <a href="/posts/2021/bio-for-2021/">About</a>
    <a href="{{ .Site.Params.bluesky }}" aria-label="My Bluesky profile"><i class="fab fa-bluesky"></i></a>
    <a href="{{ .Site.Params.github }}" aria-label="My GitHub profile"><i class="fab fa-github"></i></i></a>
    <a href="{{ .Site.Params.linkedin }}" aria-label="My LinkedIn profile"><i class="fab fa-linkedin"></i></a>

    <!-- Seasonal links, shown only at certain times of year -->
    <a href="https://bsky.app/profile/jacobtomlinson.dev/post/3m4eiu2qzrs2g" class="halloween" style="display: none;"
        aria-label="Happy Halloween">🎃</a>
</nav>
