{{ define "main" }}
<div class="container-fluid index">
    <div class="row">

        <div class="col-md-12 main content-panel">

            <div class="gravatar">
                <img src="http://2.gravatar.com/avatar/b7c2d49748426791dc98b8214dfac9d1?s=500" class="img-circle about-image" height="150" width="150" alt="{{ .Title }}" />
            </div>

            <h1 class="header author-header" itemprop="headline">{{ .Title }}</h1>

            <div class="author-text">
                {{ .Description }}
            </div>

            {{ partial "social_links.html" }}
          </div>
          <div class="col-md-12 main content-panel">

            <div class="articles">

              <h2>Latest Articles</h2>

              <ul>

                {{ range first 5 .Pages }}
                {{ if eq .Type "posts"}}
                <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    <small class="hidden-xs">{{ .Date.Format "January 2, 2006"}}</small>
                </li>
                {{ end }}
                {{ end }}

                <li>
                    <small><i><a href="{{ .Site.BaseURL }}/posts/">more...</a></i></small>
                </li>
              </ul>

            </div>

        </div>

    </div>
</div>
{{ end }}
