img {
  max-width: 100%;
}

.header-logo {
  height: 5rem;
  border-radius: 50%;
}

.header .avatar {
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.25em;
  border: 2px solid var(--primary);
}

figure figcaption {
  width: 100%;
  text-align: center;
  color: #666;
  font-size: 0.6em;
  font-weight: 300;
}