.index h1 {
  font-size: 10vw;
  background-color: var(--light-background);
  z-index: 1;
  position: fixed;
  left: 0;
  top: 33%;
  padding: 0.5rem 2rem;
}

.index p {
  font-size: 2.5vw;
  background-color: var(--light-background);
  z-index: 1;
  position: fixed;
  left: 0;
  top: 50%;
  padding: 0.5rem 2rem;
}

.index #animation {
  font-family: "Roboto Mono", serif;
  color: var(--light-background);
  background: var(--primary);
  word-wrap: break-word;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
