html,
body {
  min-width: 350px;
  max-width: 100%;
  overflow-x: hidden;
}

h1 small {
  padding-right: 0.5rem;
}

hr {
  border-color: var(--primary);
}

.content {
  padding: 1.5rem;
  max-width: 800px;
  margin: 0 auto;
}

.header {
  width: 100%;
  max-width: 800px;
  text-align: center;
  position: relative;
  margin: 0 auto;
  z-index: 1;
  background: var(--light-background);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .header {
    padding-bottom: 3rem;
  }
}

.header a {
  margin-left: 1rem;
  margin-right: 1rem;
}

.header .left {
  float: left;
}

.header .right {
  float: right;
}

.singular {
  margin-top: 3em;
  padding-right: 2em;
}

.attributes {
  margin-top: -1em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.attributes small {
  margin-right: 1em;
}

.footer {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  padding: 1.5em;
  justify-content: space-between;
  margin-bottom: 1em;
}

.footer .nav {
  padding: 0;
}

.footer .nav a {
  margin-right: 1em;
}

.articles ul li {
  margin-bottom: 3em;
}

.context {
  border: var(--primary) 1px dashed;
  border-left: var(--primary) 0.25em solid;
  padding: 0.5em;
  border-radius: 0.1em;
}

.alert {
  font-size: 0.9em;
  padding: 0.5em 0.375em 0.5em 1em;
  border-left: 4px solid;
  margin-bottom: 1em;
}

.alert-info {
  background-color: var(--info-background);
  border-color: var(--info-text);
}

.alert-info::before {
  color: var(--info-text);
  font-family: "Font Awesome 5 Free";
  font-weight: 300;
  content: "\f0eb";
  padding-right: 0.5em;
}

.alert-warning {
  background-color: var(--warning-background);
  border-color: var(--warning-text);
}

.alert-warning::before {
  color: var(--warning-text);
  font-family: "Font Awesome 5 Free";
  font-weight: 300;
  content: "\f0f3";
  padding-right: 0.5em;
}

.alert-danger {
  background-color: var(--danger-background);
  border-color: var(--danger-text);
}

.alert-danger::before {
  color: var(--danger-text);
  font-family: "Font Awesome 5 Free";
  font-weight: 300;
  content: "\f057";
  padding-right: 0.5em;
}

.talk-embed {
  margin-top: 1em;
  width: 40%;
  display: inline-block;
}

.talk-embed iframe {
  height: 100%;
  width: 100%;
  aspect-ratio: 710/399;
}

input {
  box-sizing: border-box;
}

input:focus {
  border: 1px solid var(--primary);
}

table {
  width: 100%;
  text-align: left;
}
