{{ define "main" }}

{{ if ne .Params.type "simple" }}


<!-- Title -->
<h1 itemprop="name">
  {{ if .Params.draft }}
  <span class="draft">Draft</span>
  {{ end }}

  {{ .Title }}
</h1>


{{ partial "post_attributes.html" . }}


{{ if eq .Type "posts"}}

<!-- Series header -->

{{ partial "series_header.html" . }}

<!-- Canonical -->

{{ if isset .Params "canonical" }}
<p class="alert alert-info">
  <i>
    This is an archived post that was originally published on
    <a href="{{ .Params.canonical }}" target="_blank" rel="noopener noreferrer">
      {{ if isset .Params "canonical_title" }}
      {{ .Params.canonical_title }}
      {{ else }}
      {{ index (findRE "^(?:https?:\\/\\/)?(?:[^@\\/\\n]+@)?(?:www\\.)?([^:\\/?\\n]+)" .Params.canonical) 0 }}
      {{ end }}
    </a>
  </i>
</p>
{{ end }}
{{ end }}

{{ end }}

<!-- Content -->

<article>{{ .Content }}</article>

{{ if ne .Params.type "simple" }}
{{ if eq .Type "posts"}}

<!-- Series footer -->

{{ partial "series_footer.html" . }}

<hr />

<h2>Have thoughts?</h2>

<ul>
  <li>Discuss this post on <a href="http://news.ycombinator.com/submitlink?u={{ .Permalink }}&t={{ .Title }}">Hacker
      News</a></li>
  <li>Tell me what you think of it on <a href="{{ .Site.Params.bluesky }}">Bluesky</a></li>
  <li><i>Found an error? <a href="{{ .Site.Params.SiteSourceURL }}/blob/master/content/{{ .File.Path }}"
        data-proofer-ignore>Suggest an edit on GitHub</a></i></li>
</ul>


{{ if .Page.Store.Get "hasMermaid" }}
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>
  mermaid.initialize({ startOnLoad: true });
</script>
{{ end }}


<!-- Comments -->

{{ if index .Params "comments" | default false }}
{{ template "_internal/disqus.html" . }}
{{ end }}
{{ end }}

<!-- -->

{{ end }}

{{ end }}

{{ define "scripts" }}
<script src="/js/applause.js"></script>
{{ end }}
