{{ define "main" }}

{{ if ne .Params.type "simple" }}


<!-- Title -->
<h1 itemprop="name">
  {{ if .Params.draft }}
  <span class="draft">Draft</span>
  {{ end }}

  {{ .Title }}
</h1>


{{ partial "post_attributes.html" . }}


{{ if eq .Type "posts"}}

<!-- Series header -->

{{ partial "series_header.html" . }}

<!-- Canonical -->

{{ if isset .Params "canonical" }}
<p class="alert alert-info">
  <i>
    This is an archived post that was originally published on
    <a href="{{ .Params.canonical }}" target="_blank" rel="noopener noreferrer">
      {{ if isset .Params "canonical_title" }}
      {{ .Params.canonical_title }}
      {{ else }}
      {{ index (findRE "^(?:https?:\\/\\/)?(?:[^@\\/\\n]+@)?(?:www\\.)?([^:\\/?\\n]+)" .Params.canonical) 0 }}
      {{ end }}
    </a>
  </i>
</p>
{{ end }}
{{ end }}

{{ end }}

<!-- Content -->

<article>{{ .Content }}</article>

{{ if ne .Params.type "simple" }}
{{ if eq .Type "posts"}}

<!-- Series footer -->

{{ partial "series_footer.html" . }}

<div class="attributes footer-attributes">
  <small>
    <i class="fab fa-y-combinator" title="Discuss"></i>
    <a href="http://news.ycombinator.com/submitlink?u={{ .Permalink }}&t={{ if .Date.Before (now.AddDate -1 0 0) }}{{ .Title }} ({{ .Date.Format "2006" }}){{ else }}{{ .Title }}{{ end }}">Discuss on Hacker News</a>
  </small>
  <small>
    <i class="fab fa-bluesky" title="Bluesky"></i>
    <a
      href="https://bsky.app/intent/compose?text={{ .Title | urlquery }}%20by%20@{{ .Site.Params.bluesky_handle | urlquery }}%0A{{ .Permalink | urlquery }}">Share
      on
      Bluesky</a>
  </small>
  <small>
    <i class="fab fa-github" title="Edit"></i>
    <a href="{{ .Site.Params.SiteSourceURL }}/blob/master/content/{{ .File.Path }}" data-proofer-ignore>Suggest an edit
      on GitHub</a>
  </small>
</div>


{{ if .Page.Store.Get "hasMermaid" }}
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>
  mermaid.initialize({ startOnLoad: true });
</script>
{{ end }}


<!-- Comments -->

{{ if index .Params "comments" | default false }}
{{ template "_internal/disqus.html" . }}
{{ end }}
{{ end }}

<!-- -->

{{ end }}

{{ end }}

{{ define "scripts" }}
{{ end }}
