{{ define "main" }}

{{ if ne .Params.type "simple" }}


<!-- Title -->
<h1 itemprop="name">
  {{ if .Params.draft }}
  <span class="draft">Draft</span>
  {{ end }}

  {{ .Title }}
</h1>


{{ partial "post_attributes.html" . }}


{{ if eq .Type "posts"}}

<!-- Series header -->

{{ partial "series_header.html" . }}

<!-- Canonical -->

{{ if isset .Params "canonical" }}
<p class="context">
  <i>
    <i class="fas fa-archive" title="Archived version"></i>
    This is an archived post that was originally published on
    <a href="{{ .Params.canonical }}" target="_blank" rel="noopener noreferrer">
      {{ if isset .Params "canonical_title" }}
      {{ .Params.canonical_title }}
      {{ else }}
      {{ index (findRE "^(?:https?:\\/\\/)?(?:[^@\\/\\n]+@)?(?:www\\.)?([^:\\/?\\n]+)" .Params.canonical) 0 }}
      {{ end }}
    </a>.
  </i>
</p>
{{ end }}
{{ end }}

{{ end }}

<!-- Content -->

<article>{{ .Content }}</article>

{{ if ne .Params.type "simple" }}
{{ if eq .Type "posts"}}

<!-- Series footer -->

{{ partial "series_footer.html" . }}

<hr />

<h2>Have thoughts?</h2>

<p>
  I love hearing feedback on my posts. You should head over to <a href="{{ .Site.Params.twitter }}">Twitter</a> and let
  me know what you think!
</p>

<p>
  <i>Spotted a mistake? Why not
    <a href="{{ .Site.Params.SiteSourceURL }}/blob/master/content/{{ .File.Path }}" data-proofer-ignore>suggest an
      edit</a>!</i>
</p>


{{ if .Page.Store.Get "hasMermaid" }}
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>
  mermaid.initialize({ startOnLoad: true });
</script>
{{ end }}


<!-- Comments -->

{{ if index .Params "comments" | default false }}
{{ template "_internal/disqus.html" . }}
{{ end }}
{{ end }}

<!-- -->

{{ end }}

{{ end }}
