{{ define "main" }}
<div class="container-fluid index">
    <div class="row">
          <div class="col-md-12 main content-panel">

            <div class="articles">

              <h2>All Articles</h2>

              <ul>

                {{ range .Pages }}
                {{ if eq .Type "posts"}}
                <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    <small class="hidden-xs">{{ .Date.Format "January 2, 2006"}}</small>
                </li>
                {{ end }}
                {{ end }}

              </ul>

            </div>

        </div>

    </div>
</div>
{{ end }}
