{{ define "main" }}
<div class="container-fluid index">
    <div class="row index all-posts">

        <h1 class="header author-header">{{ .Site.Title }}</h1>
        <h2 class="header" itemprop="headline">All posts</h2>

        <div class="articles">

            {{ range $year := .Pages.GroupByDate "2006" }}
            <div class="col-md-12 content-panel articles">
                <h2 id="{{ $year.Key}}-ref">{{ $year.Key}}</h2>
                <ul>
                    {{ range $year.Pages }}
                    {{ if eq .Type "posts"}}
                    <li>
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                        <small class="hidden-xs">{{ .Date.Format "January 2"}}</small>
                    </li>
                    {{ end }}
                    {{ end }}

                </ul>
            </div>
            {{ end }}

        </div>
    </div>
</div>
{{ end }}
